.App-logo{
  width: 180px;
  height: 180px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  /* animation: App-logo-spin infinite 20s linear; */
}

.App-logo-pin{
  position: absolute;
  float: left;
  width: 80px;
  height: 80px;
  margin-left: 2em;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh; 
  width: 100vw;
  overflow: hidden;

  /* for bg polygon */
  position: relative;
  z-index: 0; 
}

.App-header{
  transition: 0.3s ease-in;
  /* animation: slide-up 0.3s ease-in; */
}

.App-header-compressed{
  width: 80%;
}

.App-header-expanded{
  display: flex;
  width: 80%;
}

.Navigation{
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0.7em;
  margin: 0 auto;
  width: inherit;
}

.Container{
  width: 60%;
  padding-left: 1em;
  padding-right: 1em;
  overflow-y: auto;
  overflow-x: hidden;
  height: 0%;
  transition: 0.2s ease-out;
}

.Container-expanded{
  height: 100%;
  transition: 0.2s ease-in;
  animation: fade 0.2s ease-in;
}

.Container-email{
  margin-left: 0.5em;
}

.Container-email-buttons{
  align-self: flex-end;
}

form{
  display: flex;
  flex-direction: column;
}

.Page{
  /* animation:  */
  border-radius: 0.8em;
}

/* #region About Page Stuff */
.About{
  display: inline-block;
  text-align: justify;
  padding: 1em;
  width: 100%;
}

.About-info{
  margin-bottom: 2.5em;
}

.About-info p{
  
  padding-left: 1.5em;
}
/* #endregion About Page Stuff */

/* #region Projects Page Stuff */
.Projects{
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 1em;
  width: 100%;
}

.Projects img{
  width: 50%;
  height: auto;
}

.Project-icons-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Project-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  margin-right: 0.5em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.Project-icons:hover .Project-name{
  color: #51eef7;
  background-color: #313535;
}

.Project-icons-selected{
  transform: scale(1.05);
}

.Project-icons-selected p{
  color: #51eef7;
}

.Project-icons:hover, .Project-icons:focus{
  transform: scale(1.05);
}
/* #endregion Projects Page Stuff */

/* #region Contact Page Stuff */
.Contact{
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 1em;
  width: 100%;
}

.Contact-icons{
  width: 100px;
  height: 100px;
  filter: grayscale(100%);
}

/* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
.Contact a{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-items: center;
  align-items: center;
  padding: 1em;
   /* These are technically the same, but use both */
   overflow-wrap: break-word;
   word-wrap: break-word;
 
   -ms-word-break: break-all;
   /* This is the dangerous one in WebKit, as it breaks things wherever */
   word-break: break-all;
   /* Instead use this non-standard one: */
   word-break: break-word;
 
   /* Adds a hyphen where the word breaks, if supported (No Blink) */
   -ms-hyphens: auto;
   -moz-hyphens: auto;
   -webkit-hyphens: auto;
   hyphens: auto;
}

.Icon-reference{
  display: flex;
  flex-wrap: wrap;
  color: white;
}

.Icon-reference a{
  padding: 0 0.3em 0 0.3em;
}

a span{
  padding-left: 0.5em;
}
/* #endregion Contact Page Stuff */


/*#region Scrollbar Stuff */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #425051;
}
 
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3899ed; 
}
/*#endregion Scrollbar Stuff  */

/* Animations */
@keyframes slide-up{
  from{
    translate: -20px;
  }
  to{
    translate: 0px;
  }
}

@keyframes fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 40em){
  .Container,.App-header, .App-header-compressed, .App-header-expanded{
    width: 100%;
  }
  .App-logo-pin{
    width: 50px;
    height: 50px;
    margin-left: 0;
  }
  
  .Contact a{
    align-items: flex-start;
    flex-direction: column;
  }
}

@media (min-width: 40em){ /*640px*/
  .Container,.App-header, .App-header-compressed, .App-header-expanded{
    width: 90%;
  }
  .App-logo-pin{
    width: 65px;
    height: 65px;
    margin-left: 1;
  }
}

@media (min-width: 62.5em){ /*1000px*/
  .App-header, .App-header-compressed, .App-header-expanded{
    width: 80%;
  }
  .Container{
    width: 70%;
  }
  .App-logo-pin{
    width: 80px;
    height: 80px;
    margin-left: 2;
  }
}

@media (min-width: 87.5em){ /*1400px*/
  .App-header, .App-header-compressed, .App-header-expanded{
    width: 80%;
  }
  .Container{
    width: 60%;
  }
}