.App-logo{
  width: 180px;
  height: 180px;
  cursor: pointer;
  animation: App-logo-spin infinite 20s linear;
}

.App-logo-pin{
  position: absolute;
  float: left;
  width: 80px;
  height: 80px;
  margin-left: 2em;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh; 
  width: 100vw;
}

.App-header-compressed{
  width: 80%;
}

.App-header-expanded{
  display: flex;
  width: 80%;
}

.Navigation{
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0.7em;
  margin: 0 auto;
  width: inherit;
}

.Container{
  width: 60%;
  padding-left: 1em;
  padding-right: 1em;
  overflow-y: auto;
  overflow-x: hidden;
}

.Container-expanded{
  height: 100%;
}

/* #region About Page Stuff */
.About{
  display: inline-block;
  text-align: justify;
  padding: 1em;
  width: 100%;
}

.About-info{
  margin-bottom: 2.5em;
}

.About-info p{
  
  padding-left: 1.5em;
}
/* #endregion About Page Stuff */
.Contact{
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 1em;
  width: 100%;
}

.Contact-icons{
  width: 100px;
  height: 100px;
  filter: grayscale(100%);
}

.Contact a{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-items: center;
  align-items: center;
  width: max-content;
  padding: 1em;
}

.Icon-reference{
  display: flex;
  color: white;
}

.Icon-reference a{
  padding: 0 0.3em 0 0.3em;
}

a span{
  padding-left: 0.5em;
}


/*#region Scrollbar Stuff */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #425051;
}
 
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3899ed; 
}
/*#endregion Scrollbar Stuff  */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}