.hexagon_formation{
  position: absolute;
  z-index: -1;
  width: 500px;
  height: auto;
  transform: rotate(0);
  transition: all 0.4s ease-in-out;
}

.hex{
  fill:none;
  stroke:#00FFFF;
  opacity: 0.25;
  stroke-width:2;
  stroke-miterlimit:10;
}

.hex1{
  animation: bg-pulse 5s ease-in-out infinite;
}

.hex2{
  animation: bg-pulse 8s ease-in infinite;
}

.hex3{
  animation: bg-pulse 6s ease-in-out infinite;
}

@keyframes bg-pulse{
  0%{
    opacity: 0.6;
    stroke-width: 2;
  }
  20%{
    opacity: 0.8;
    stroke-width: 0.5;
  }
  30%{
    opacity: 0.2;
    stroke-width: 1;
  }
  50%{
    opacity: 0.7;
    stroke-width: 2.5;
  }
  70%{
    opacity: 0.4;
    stroke-width: 1;
  }
  100%{
    opacity: 0.6;
    stroke-width: 2.5;
  }
}