.bgAlmostBlack{
  background-color: #313535;
}

.colAlmostBlack{
  background-color: #313535;
}

.bgGrey{
  background-color: #425051;
}

.colGrey{
  color: #425051;
}

.bgBlue{
  background-color: #3899ed;
}

.colBlue{
  color: #3899ed;
}

.bgNeonBlue{
  background-color: #51eef7;
}

.colNeonBlue{
  color: #51eef7;
}

.bgWhite{
  background-color: white;
}

.colWhite{
  color: white;
}