/* dark palette */
.bgAlmostBlack{
  background-color: #353639;
}

.colAlmostBlack{
  color: #353639;
}

.bgGrey{
  background-color: #48494aea;
}

.colGrey{
  color: #48494a;
}

.bgBlue{
  background-color: #338bd5;
}

.colBlue{
  color: #338bd5;
}


.bgNeonBlue{
  background-color: #4cdfe3;
}

.colNeonBlue{
  color: #4cdfe3;
}

.bgWhite{
  background-color: white;
}

.colWhite{
  color: white;
}

/* light palette */
.bgLight{
  background-color: white;
}

.bgLight2{
  background-color:#e7e1d6; 
}