/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
body {
  font-family: sans-serif;
  padding: 2rem;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

h2 {
  margin-top: 6rem;
}

h3 {
  font-style: italic;
  margin-top: 1rem;
}

h4 {
  margin-bottom: 0.25rem;
}

p {
  margin-top: 0;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}

/* 
  COLOUR PALETTE
*/

.palette{
  display: flex;
  flex-direction: row;
}

.colour{
  border: black;
  border-style: solid;
  border-width: 1px;
  width: 200px;
  height: 150px;
  transition: 0.3s ease-in-out;
}

.colour:focus, .colour:hover{
  transform: scale(1.025);
}

.bgAlmostBlack{
  background-color: #313535;
}

.colAlmostBlack{
  background-color: #313535;
}

.bgGrey{
  background-color: #425051;
}

.colGrey{
  color: #425051;
}

.bgBlue{
  background-color: #3899ed;
}

.colBlue{
  color: #3899ed;
}

.bgNeonBlue{
  background-color: #51eef7;
}

.colNeonBlue{
  color: #51eef7;
}

.bgWhite{
  background-color: white;
}

.colWhite{
  color: white;
}



/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */

a{
  text-decoration: none;
  transition: 0.3s ease-in;
}

a:hover, a:focus{
  text-decoration-line: underline;
  color: #42ebf4;
}

.button-nav {
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
}

.button-nav:hover, .button-nav:focus {
  color: #51eef7;
  background-color: #313535;
}

/* https://css-tricks.com/overriding-default-button-styles/ */
button{
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

input{
  border-color: #425051;
  border-width: 0.2em;
  border-radius: 2em;
  transition: 0.3s ease;
}

input:focus, input:hover{
  border-color: #313535;
  transform: scale(1.03);
  outline:none;
}


a img{
  transition: 0.3s ease-in-out;
}

a img:hover, a img:focus{
  filter: opacity(0.8);
  transform: scale(1.025);
}

/* 
  TEXT ELEMENTS -------------------
*/




/* 
  COMBINED ELEMENTS -------------------
*/

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly
}

nav a{
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

nav a:hover, nav a:focus{
  color: #42ebf4;
  offset-position: 5px;
}