@import "./palette.scss";
@import "./fonts.scss";

* {
  box-sizing: border-box;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  background-color: $background-color;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
