@import "./palette.scss";
@import "./fonts.scss";

* {
  box-sizing: border-box;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Container {
  width: fit-content;

  * {
    width: fit-content;
  }

  &__name {
    display: flex;
    flex-direction: row;
  }

  &__nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}
