.Landing-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-self: center;

  * {
    width: fit-content;
  }

  &__name {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 0px 24px 0px;

    &__fullname,
    &__at {
      padding: 8px 0px 8px 0px;
    }

    &__fullname {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  &__nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}

@media (max-width: 600px) {
  .Landing-container {
    padding: 50px;

    &__name {
      &__fullname,
      &__at {
        padding: 0;
      }
    }

    &__nav {
      flex-direction: column;
      align-content: start;
      align-items: start;
      gap: 10px;
    }
  }
}
