.Nav-link {
  &__no-events {
    pointer-events: none;
    user-select: none;
  }

  &--active {
    background-color: $highlight-color-2;
  }

  span {
    a {
      padding: 0px 5px 0px 5px;
      color: $font-color;
    }

    a:hover,
    a:focus,
    a:active {
      color: $secondary-color !important;
      background-color: $highlight-color-2;
    }
  }
}
