.App-logo{
  width: 65px;
  height: 65px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  /* animation: App-logo-spin infinite 20s linear; */
}

/* .App-logo:hover, .App-logo:focus{
  animation: App-logo-spin 0.5s linear;
} */

/* .Theme-button-expanded is in the media query for display sizes below 640px */
.Theme-button{
  position: absolute;
  top: 1em;
  right: 1em;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh; 
  width: 100vw;
  overflow: hidden;

  /* for bg polygon */
  position: relative;
  z-index: 0; 
}

.App-header{
  transition: 0.3s ease-in;
  /* animation: slide-up 0.3s ease-in; */
}

.App-header-compressed{
  width: 80%;
}

.App-header-expanded{
  display: flex;
  width: 80%;
}

.title{
  /* font-size: 2.5em; */
  font-size: calc(2.5em + 2vmin);
  /* margin-block-end: 0.5em; */
  font-family: 'Source Code Pro', monospace;
  text-decoration: none;
  pointer-events: none;
  width: fit-content;
  align-self: center;
}

.Navigation{
  /* font-size: calc(10px + 2vmin); */
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.7em;
  margin: 0 auto;
  width: inherit;
}

.Nav-link{
  margin: 0 1.5em 0 1.5em;
}

.Nav-link a{
  width: max-content;
  text-decoration: none;
}

.Container{
  width: 60%;
  padding-left: 1em;
  padding-right: 1em;
  text-align: justify;
  overflow-y: auto;
  overflow-x: hidden;
  height: 0%;
  transition: 0.2s ease-out;
}

.Container-expanded{
  height: 90%;
  transition: 0.2s ease-in;
  animation: fade 0.2s ease-in;
}

.Container-email{
  margin-left: 0.5em;
}

.Container-email-buttons{
  align-self: flex-end;
}

form{
  display: flex;
  flex-direction: column;
}

/* #region General Page Stuff */
.Page{
  /* animation:  */
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 100%;
  border-radius: 0.8em;
}

/* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
.Page a{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-items: center;
  align-items: center;
  padding: 1em;
  width: fit-content;
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
 
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
 
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
/* #endregion General Page Stuff */

/* #region About Page Stuff */
.About-info{
  
}

.About-info p{
  padding-left: 1.5em;
  margin-bottom: 2.5em;
}
/* #endregion About Page Stuff */

/* #region Projects Page Stuff */
.Projects-2-col{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.Projects-col, .Projects-col-left, .Projects-col-right{
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.Projects-col a{
  display: inline-block;
  padding: 0;
}

.Projects-2-col p, .Projects-col p{
  margin-top: 0.4em;
}

.Projects-col-left{
  width:60%;
}

.Project-skills{
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
}

.Project-skills p{
  padding: 0.25em 0.5em 0.25em 0.5em;
  margin-right: 0.5em;
  margin-top: 0;
  margin-bottom: 0;
}

.Projects-col-right{
  display: flex;
  justify-content: center;
  width: 40%;
}

.tableInfo{
  display: block;
  border-collapse: collapse;
  margin: auto; /* center table */
  overflow-x: scroll;
  white-space: nowrap;
  width: max-content;
}
  
#tableName{
  padding: 0.7em 0.2em 0.7em 0.2em;
}

.Projects-gallery{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Project-icons-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-block-end: 1em;
}

.Projects-name a{
  min-width: 125px;
  justify-content: center;
}

.Project-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 55px;
  border-radius: 8px;
  margin-right: 0.5em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.Project-icons:hover .Project-name{
  color: #51eef7;
  background-color: #313535;
}

.Project-icons-selected{
  transform: scale(1.05);
}

.Project-icons:hover, .Project-icons:focus{
  transform: scale(1.05);
}
/* #endregion Projects Page Stuff */

/* #region Contact Page Stuff */
.Logo-group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Logo-group-pinned{
  flex-direction: row;
  position: absolute;
}

.Contact-group{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Contact-icons{
  width: 40px;
  height: 40px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  /* filter: grayscale(100%); */
}

.Lightbulb{
  width: 50px;
  height: 50px;
}

.Icon-reference{
  display: flex;
  flex-wrap: wrap;
}

.Icon-reference a{
  padding: 0 0.3em 0 0.3em;
}

a img, a span{
  cursor: pointer;
}

a span{
  padding-left: 0.5em;
}

.Toast-container{
  width: fit-content;
}
/* #endregion Contact Page Stuff */


/* Animations */
@keyframes slide-up{
  from{
    translate: -20px;
  }
  to{
    translate: 0px;
  }
}

@keyframes fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 40em){
  .Container,.App-header, .App-header-compressed, .App-header-expanded{
    width: 100%;
  }
  .Container{
    text-align: left;
  }
  .App-logo{
    width: 50px;
    height: 50px;
  }
  .Logo-group-pinned{
    top: 0;
    left: 0;
    margin-top: 0.25em;
    margin-right: 0.25em;
  }
  .Contact a{
    align-items: flex-start;
    flex-direction: column;
  }
  .Navigation{
    padding: 2.25em 0.7em 0.7em 0.7em;
    justify-content: flex-start;
  }
  .Nav-link{
    margin: 0 1.5em 0 0;
  }
  /* class only exists during mobile view */
  .Theme-button-expanded{
    top: 0;
    right: 0;
    margin-left: auto;
    margin-top: 0.25em;
    margin-right: 0.25em;
  }
  .Projects-2-col{
    flex-direction: column;
  }
  .Projects-col-left, .Projects-col-right{
    width: 100%;
  }
  .Projects-gallery{
    width: 65%;
  }
  figure{
    margin: 1em 0em;
  }
}

@media (max-width: 50em) and (min-width: 40em){ /* 800px */
  .Projects-2-col{
    flex-direction: column;
  }
  .Projects-col-left, .Projects-col-right{
    width: 100%;
  }
  .Projects-gallery{
    width: 60%;
  }
}

@media (max-width: 25.9375em){ /*415px, mobile*/
  .App-logo{
    width: 43px;
    height: 43px;
  }
  .Projects-2-col{
    flex-direction: column;
  }
  .Projects-col-left, .Projects-col-right, .Projects-gallery{
    width: 100%;
  }
}

@media (min-width: 40em){ /*640px*/
  .Container,.App-header, .App-header-compressed, .App-header-expanded{
    width: 90%;
  }
  .App-logo{
    width: 55px;
    height: 55px;
  }
}

@media (min-width: 62.5em){ /*1000px*/
  .App-header, .App-header-compressed, .App-header-expanded{
    width: 80%;
  }
  .Container{
    width: 70%;
  }
  .App-logo{
    width: 80px;
    height: 80px;
  }
  .Navigation{
    width: 70%;
  }
}

@media (min-width: 87.5em){ /*1400px*/
  .App-header, .App-header-compressed, .App-header-expanded{
    width: 80%;
  }
  .Container{
    width: 60%;
  }
  .Navigation{
    width: 50%;
  }
}