/* @import url('https://fonts.googleapis.com/css?family=Lato|Muli'); */
/* @import url('https://fonts.googleapis.com/css?family=Play|Exo+2'); */
@import url('../css/palette.css');
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans|Roboto+Mono|Source+Code+Pro&display=swap');

/*#region Scrollbar Stuff */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--accent2-col-trans);
}
 
::-webkit-scrollbar-thumb {
  background: var(--accent3-col);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-col); 
}
/*#endregion Scrollbar Stuff  */

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /* font-family: 'Inconsolata', monospace; */
}

code {
  font-family: 'Inconsolata', monospace;
}

nav a, nav a:focus, .title, .title:focus, .title:hover{
  text-decoration: none;
}

.title, .title:focus, .title:hover{
  color: var(--primary-col);
}

a span{
  font-size: 1.1em;
}

h1{
  font-size: 1.75em;
  margin-block-end: 0.5em;
  font-family: 'Source Code Pro', monospace;
}

h2{
  font-size: 1.25em;
  margin-block-end: 0.5em;
  font-family: 'Inconsolata', monospace;
}

h3{
  font-size: 1.1em;
  margin-block-end: 0.5em;
  font-family: 'Roboto Mono', monospace;
}

h1, h2, h3, h4{
  /* font-family: 'Muli', sans-serif; */
  /* font-family: 'Play', sans-serif; */
  color: var(--heading-col);
}

p, ul, ol, li, label{
  color: var(--font-col);
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

a{
  font-family: 'Inconsolata', monospace;
  color: var(--primary-col);
  text-decoration: none;
  transition: 0.3s ease-in;
}

a:hover, a:focus{
  text-decoration-line: underline;
  color: var(--secondary-col);
}

.button-nav {
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
  color: var(--primary-col);
  background-color: var(--accent2-col);
}

.button-nav:hover, .button-nav:focus {
  color: var(--accent2-col);
  background-color: var(--primary-col);
}

form button{
  width: 120px;
  height: 40px;
  margin-left: 0.2em;
}

button{
  display: inline-block;
  border: none;
  border-radius: 0.25em;
  padding: 1rem 2rem;
  margin: 0;
  font-family: 'Inconsolata', monospace;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:focus {
  outline: 1px solid var(--accent3-col);
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

input{
  border-color: var(--accent2-col);
  border-width: 0.1em;
  border-radius: 1em;
  transition: 0.3s ease;
  padding-left: 1em;
}

textarea{
  border-color: var(--accent2-col);
  border-width: 0.2em;
  border-radius: 0.5em;
  transition: 0.3s ease;
}

input:focus, input:hover, textarea:focus, textarea:hover{
  border-color: var(--accent1-col);
  transform: scale(1.005);
  outline:none;
}

a img{
  transition: 0.3s ease-in-out;
}

a img:hover, a img:focus{
  /* filter: opacity(0.8); */
  transform: scale(1.1);
}

.tableInfo td, .tableInfo th{
  padding: 0.2em;
  color: var(--font-col);
}
  
.tableInfo tr:nth-child(even){
  background-color: var(--accent1-col);
}
                            
.tableInfo tr:hover{
  background-color: var(--primary-col);
}

figure{
  display: flex;
  flex-direction: column;
}

figure img{
  width: 100%;
}

figure figcaption{
  color: var(--font-col);
}

.Project-skills p{
  background-color: var(--primary-col);
}