:root{
  --primary-col: #3899ed;
  --secondary-col: #4cdfe3;
  --accent-col: #51eef7;
  --accent1-col: #353639;
  --accent2-col: #48494a;
  --accent2-col-trans: #48494aea;
  --accent3-col: white;

  --font-col: white;
  --heading-col: #51eef7;
}

[data-theme="light"]{
  --primary-col: #3899ed;
  --secondary-col: #4cdfe3;
  --accent-col: #51eef7;
  --accent1-col: white;
  --accent2-col: #e7e1d6;
  --accent2-col-trans: #e7e1d6ea;
  --accent3-col: black;

  --font-col: black;
  --heading-col: #3899ed;
}

:root.theme-transition,
:root.theme-transition *,
:root.theme-transition *:before,
:root.theme-transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}


.bgAccent{
  background-color: var(--accent-col);
}

.colAccent{
  color: var(--accent-col);
}

.bgAccent1{
  background-color: var(--accent1-col);
}

.colAccent1{
  color: var(--accent1-col);
}

.bgAccent2{
  background-color: var(--accent2-col-trans);
}

.colAccent2{
  color: var(--accent2-col);
}

.bgPrimary{
  background-color: var(--primary-col);
}

.colPrimary{
  color: var(--primary-col);
}

.bgSecondary{
  background-color: var(--secondary-col);
}

.colSecondary{
  color: var(--secondary-col);
}


/* light palette */
.bgLight{
  background-color: white;
}

.bgLight2{
  background-color:#e7e1d6; 
}

.svgPrimary{
  fill: var(--primary-col);
  fill-rule:evenodd;
  clip-rule:evenodd;
}